{% extends 'base.html' %} {% block content %}
<div class="main-content"><h1>Hello From the Notes Page</h1></div>
<!-- .main-content -->
<section id="blog-content content">
  <ul class="content__list">
    <li class="content__list-item">
      <figure class="content_list-image">
        <a href=""> <img src="" alt="" /> </a>
        <figcaption class="content__list-caption">
          <h2>BASIC, the Commodore PIE, and the Apple II</h2>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>

{% endblock %}
